.drink__page { //same as form component
	display: flex;
	flex-direction: column;
	align-items: center;
}

.drink__container { //same as form component
	background-color: white;
	width: 100%;
	padding-bottom: 40px;
	margin: 1px 0px;
	display: flex;
	flex-wrap: wrap;
	@media only screen and (min-width: 768px) {
		width: 60%;
		margin: 5%;
		padding: 3% 5% 20px;
	}
}

.drink__left, .drink__right {
	flex: 100%;
	padding: 0px 16px;
	@media only screen and (min-width: 768px) {
		flex: 50%;
	}
}

.drink__img--mobile {
	height: 245px;
	width: 100%;
	object-fit: cover;
	@media only screen and (min-width: 768px) {
		display: none;
	}
}

.drink__img--desktop {
	display: none;
	@media only screen and (min-width: 768px) {
		display: block;
	}
}

.drink__name {
	font-family: 'Advent Pro', sans-serif;
	font-size: 32px;
	color: #222222;
	font-weight: 400;
}

.drink__source {
	font-family: 'Advent Pro', sans-serif;
	font-size:24px;
	color: #222222;
	font-weight: 300;
	text-decoration: none;
}

.drink__line {
	width: 100%;
	height: 2px;
	background-color: #EFF3F4;
}

.drink__editorial {
	font-family: 'Oxygen', sans-serif;
	font-size: 20px;
	font-weight: 400;
	color: #222222;
	text-align: left;
}

.drink__heading {
	font-family: 'Advent Pro', sans-serif;
	font-size:20px;
	color: #222222;
	font-weight: 700;
	text-transform: uppercase;
}

.drink__body {
	font-family: 'Oxygen', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #222222;
	text-align: left;
}

.drink__body--link {
	font-family: 'Oxygen', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #377084;
	text-align: left;
	text-decoration: underline;
}