.page__container {
	padding: 5% 5%;
	flex-direction: column;
}

.filter__container {
	display: flex;
	flex-wrap: wrap;
	width: 90%;
	padding: 24px 0% 24px;
}

.filter__chip {
	font-family: 'Advent Pro', serif;
	font-size: 16px;
	background-color: var(--white);
	border: 1px solid var(--main-color);
	border-radius: 30px;
	padding: 10px 28px;
	color: var(--main-color);
	height: 40px;
	margin: 8px;
	outline: none;
}

.filter__chip[aria-pressed="true"] {
	background-color: var(--main-color);
	color: var(--white);
}

.drinksList__container {
	display: flex;
	flex-wrap: wrap;
}