@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200;300;400;500;600;700&family=Julius+Sans+One&family=Notable&family=Oxygen:wght@300;400;700&display=swap');

:root {
  --main-color: #377084;
  --bg-color: #EFF3F4;
  --white: #ffffff;

}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--bg-color);
}
