.rec__container {
	padding: 5% 7%;
}

.rec__heading {
	font-family: 'Advent Pro', sans-serif;
	font-weight: bold;
	font-size: 32px;
	color: #222222;
	text-transform: uppercase;
	margin: 0px;
	margin-bottom: 2%;
}

.rec__small {
	font-size: 20px;
}

.slick-prev:before, .slick-next:before {
	color: #222222;
	opacity: 1;
}

.slick-prev {
	left: -25px;
}

.slick-next {
	right: -15px;
	@media only screen and (min-width: 768px) {
		right: -5px;
	}
}