.rec__container {
	padding: 0;
	margin: 32px 0px;
	@media only screen and (min-width: 768px) {
		padding: 5% 7% 16px;
		margin: 8px 0px;
	}
}

.rec__heading {
	font-family: 'Advent Pro', sans-serif;
	font-weight: bold;
	font-size: 32px;
	color: #222222;
	text-transform: uppercase;
	margin: 0px;
	margin-bottom: 2%;
	padding: 16px 0px;
}

.rec__small {
	font-size: 20px;
}

.slick-prev:before, .slick-next:before {
	@media only screen and (min-width: 768px) {
		color: #222222;
		opacity: 1;
	}
}

.slick-prev {
	@media only screen and (min-width: 768px) {
		left: -25px;
	}
}

.slick-next {
	@media only screen and (min-width: 768px) {
		right: -5px;
	}
}

.view-all {
	display: flex;
	flex-wrap: wrap;
	width: 90%;
	padding: 3% 7%;
}

.all__heading {
	padding: 5% 7% 0%; 
	margin: 0;
	font-family: 'Advent Pro', sans-serif;
	font-weight: bold;
	font-size: 32px;
	color: #222222;
	text-transform: uppercase;
}

.inline {
	display: inline-flex;
	align-items: baseline;
}

.inline-link {
	margin-left: 16px;
}